* {

    margin: 0;
    padding: 0;

}

body {

    background-color: rgba(0, 110, 255, 0.699);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

}

.grid {

    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: rgba(127, 231, 145, 0.61);
    border: 2px solid black;
    width: 70%;
    margin: 0 auto;

}

.cajas {

    border: 2px solid black;
    background-color: blueviolet;
    text-align: center;
    color: white;

}

.header {

    font-size: 50px;
    background-color: rgb(255, 104, 104);
    grid-column: 2/5;
    line-height: 150px;

}

.nav {

    font-size: 40px;
    grid-column: 1/5;
    background-color: beige;
    color: black;
    line-height: 70px;

}



.content {

    font-size: 100px;
    grid-column: 1/4;
    line-height: 500px;
}



.aside {

    font-size: 20px;
    grid-column: 4/5;
    line-height: 500px;
    background-color: burlywood;
    color: black;

}



.footer {

    font-size: 50px;
    background-color: green;
    grid-column: 1/5;
    line-height: 70px;

}